venv/*
archive-2/*
models
logs
src/__pycache__
config.json
.python-version
data/activations
data/filtered_train_oasst2
data/filtered_val_oasst2
data/tcn-combined-labels.txt
data/tcn-combined-tokens.txt
